{% if page.header.teaser %}
  {% capture teaser %}{{ page.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if page.link %}
  {% capture title %}<a href="{{ page.link }}" class="archive__item-teaser">{{ page.title }}</a>{% endcapture %}
{% else %}
  {% capture title %}<a href="{{ page.url | relative_url }}" rel="permalink" class="archive__item-teaser">{{ page.title }}</a>{% endcapture %}
{% endif %}

<article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>
  {% if teaser %}
    <a href="{{ page.url | relative_url }}" rel="permalink">
      <img src="{{ teaser | relative_url }}" alt="{{ page.title }}" class="archive__item-teaser" style="max-height: 250px; width: 100%; object-fit: cover; display: block; margin-bottom: 0.5em;">
    </a>
  {% endif %}
  <h2 class="archive__item-title no_toc" itemprop="headline">
    {{ title }}
  </h2>
  {% unless page.author == null %}
    {% include author.html %}
  {% endunless %}
  {% if page.excerpt %}
    <p class="archive__item-excerpt" itemprop="description">{{ page.excerpt | strip_html | truncate: 160 }}</p>
  {% endif %}
</article>
