<!-- Bootstrap -->
<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

<!-- Katex -->
<link href="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.11.1/katex.min.css" rel="stylesheet">
<!-- <script src="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.11.1/katex.min.js"></script> -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function(){
        // $("script[type='math/tex']").replaceWith(function() {
        //     var tex = $(this).text();
        //     return katex.renderToString(tex, {displayMode: false});
        // });
    
        // $("script[type='math/tex; mode=display']").replaceWith(function() {
        //     var tex = $(this).html();
        //     return katex.renderToString(tex.replace(/%.*/g, ''), {displayMode: true});
        // });
    })
    // window.onload = (event) => {
    // };    
    // document.addEventListener('DOMContentLoaded',function(){
    // });
</script>
